kind: ConfigMap
apiVersion: v1
metadata:
  name: <CONFIGMAP_NAME>
data:
  SERVER_PORT:
  PORT:
  TELEGRAM_BOT_TOKEN:
  BOTPRESS_URL:
  TELEGRAM_URL:
  TELEGRAM_WEBHOOK_URL:
  DATABASE_TYPE:
  DATABASE_HOST:
  DATABASE_PORT:
  DATABASE_USERNAME:
  DATABASE_PASSWORD:
  DATABASE_NAME:
  DATABASE_SSL:
  DATABASE_URL:
  WALLET_TELEGRAM_BOT_TOKEN:
  API_KEY: